<style>
    @media only screen and (max-width: 600px) {
        .btn-messsage-post-menu span{
            display: none !important;
        }
    }
</style>

<div style="display: none;width:100vw;" id="dcfgCustomFields">
    
    {{#if showPriceUrlBox}}
    <div style="font-weight:bold; border:1px outset;padding:10px;background:#fff" class="postPrice-priceTagPlugin">        
         {{#if  model.dcfg_custom_fields.dcfg_price }} Price:  
            {{ model.dcfg_custom_fields.dcfg_price }} 
            {{#if model.details.can_edit}}
            {{d-button class="btn dcfgbtn" action="setPrice" actionParam=model translatedLabel="Edit"}}
            {{/if}} 
        {{else}}    
            {{#if model.details.can_edit}}  
            Price: 
            {{d-button class="btn dcfgbtn" action="setPrice" actionParam=model translatedLabel="Set price"}} 

            {{/if}}            
        {{/if}}

        <br/>    
        {{#if showUrlBox}}
        {{#if model.dcfg_custom_fields.dcfg_url}}
            URL: 
            <a href="{{ model.dcfg_custom_fields.dcfg_url }}">{{ model.dcfg_custom_fields.dcfg_url }}</a>
            {{#if currentUser.admin}}
            {{d-button class="btn dcfgbtn" action="setURL" actionParam=model translatedLabel="Edit"}} 
            {{/if}}
        {{else}}              
            {{#if model.details.can_edit}}
            URL:             
            {{d-button class="btn dcfgbtn" action="setURL" actionParam=model translatedLabel="Set URL"}} 
            {{/if}}
        {{/if}} 
        {{/if}}
    </div>
    {{/if}}
</div>
<style>
    .dcfgbtn{margin-left:20px;margin:5px;}
</style>
